In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/python/lib/python3.13/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/python/lib/python3.13/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/python/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/python/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/python/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/python/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [12]:
import pandas as pd

clinical_test = pd.read_csv("data/test/clinical_test.csv")
clinical_train = pd.read_csv("data/train/clinical_train.csv")
molecular_train = pd.read_csv("data/train/molecular_train.csv")
molecular_test = pd.read_csv("data/test/molecular_test.csv")
random_submission = pd.read_csv("data/random_submission.csv")
target_train = pd.read_csv("data/train/target_train.csv")

In [13]:
molecular_train.head()

,ID,CHR,START,END,REF,ALT,GENE,PROTEIN_CHANGE,EFFECT,VAF,DEPTH
0,P100000,11,119149248.0,119149248.0,G,A,CBL,p.C419Y,non_synonymous_codon,0.0830,1308.0
1,P100000,5,131822301.0,131822301.0,G,T,IRF1,p.Y164*,stop_gained,0.0220,532.0
2,P100000,3,77694060.0,77694060.0,G,C,ROBO2,p.?,splice_site_variant,0.4100,876.0
3,P100000,4,106164917.0,106164917.0,G,T,TET2,p.R1262L,non_synonymous_codon,0.4300,826.0
4,P100000,2,25468147.0,25468163.0,ACGAAGAGGGGGTGTTC,A,DNMT3A,p.E505fs*141,frameshift_variant,0.0898,942.0

In [14]:
target_train.head()

        ID  OS_YEARS  OS_STATUS
0  P132697  1.115068        1.0
1  P132698  4.928767        0.0
2  P116889  2.043836        0.0
3  P132699  2.476712        1.0
4  P132700  3.145205        0.0