In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/python/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/python/lib/python3.13/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/python/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/python/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/python/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/python/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd

random_download = pd.read_csv("data/submission/random_submission_dl.csv")
random = pd.read_csv("data/submission/random_submission.csv")
benchmark = pd.read_csv("data/submission/benchmark_submission.csv")

In [36]:
random = random.rename(columns={"OS_YEARS": "risk_score"})
benchmark = benchmark.rename(columns={"OS_YEARS": "risk_score"})

In [37]:
random_download.tail()

           ID  risk_score
1188  KYW1189    0.482503
1189  KYW1190    0.809698
1190  KYW1191    0.907722
1191  KYW1192    0.247228
1192  KYW1193    0.171141

In [38]:
random.tail()

           ID  risk_score
1188  KYW1189    0.277032
1189  KYW1190    0.275477
1190  KYW1191    0.233604
1191  KYW1192    0.350032
1192  KYW1193    0.646060

In [39]:
benchmark.tail()

           ID  risk_score
1188  KYW1189   -1.566600
1189  KYW1190   -1.442281
1190  KYW1191   -1.690919
1191  KYW1192   -1.442281
1192  KYW1193   -1.566600

In [40]:
s1, s2 = random['ID'], banchmark['ID']
set2, set1 = set(s2), set(s1)

out = []
seen = set()
for x in s1:
    if x not in set2 and x not in seen:
        out.append(x); seen.add(x)
for x in s2:
    if x not in set1 and x not in seen:
        out.append(x); seen.add(x)

ids_not_in_both_ordered = pd.Series(out, name='ID')

NameError: name 'banchmark' is not defined